<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MEDICAL - Responsive HTML &amp; Bootstrap Template</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
    <!-- Include Moment.js CDN -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <!-- Include Bootstrap DateTimePicker CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js">
    </script>


</head>

<body class="d-flex flex-column min-vh-100">
<!--/*@thymeleaf id="appointments" type="com.stefanpetkov.medical.commands.AppointmentCommand"*/-->

<!--<div th:insert="~{common/patientHeader :: header}"></div>-->
<div th:insert="~{common/patientHeader :: header}"></div>

</div>

<!--<div th:with="patient=${appointments[0]}">-->
<!--    <h3>-->
<!--        <span th:text="'   ' + '    Здравей :' + ' ' +${patient.patientFirstName}">PatientName</span>-->
<!--    </h3>-->
<!--</div>-->

<form  th:action="@{/search}" method="get">
    <input class="border border-1 border-dark p-20  mx-2" type="text" name="keyword" th:value="${keyword}" placeholder="Find by FirstName or Appointment date" size="45%">

<!--<form th:action="@{/searchByDoctorName}" method="get">-->
<!--    <input class="border border-1 border-dark p-20  mx-2" type="text" name="name" th:value="${name}" placeholder="Find by FirstName or Appointment date" size="45%">-->
    <button type="submit" class="btn btn-info" >Search</button>
<!--    <button type="submit" class="btn btn-info" disabled >reset</button>-->
    <a type="button" class="btn btn-warning"  href="/addAppointment" >Make Appointment</a>
</form>





<table class="table table-striped">
    <tr class="table-dark">
        <th>Patient_ID</th>
        <th>Doctor's FullName</th>
        <th>Appointment</th>
        <th>Phone</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr class="border border-3 border-dark" th:each="appointment : ${appointments}">
        <td th:text="*{appointment.patientId}">id</td>
        <td th:text="d-r + ' ' + *{appointment.doctorFirstName} + ' ' + *{appointment.doctorLastName}">FullName</td>
        <td th:text="*{appointment.dateTimeOfTheAppointment}">phone</td>
        <td th:text="*{appointment.doctorPhoneNumber}">phone</td>


        <td class="col-1 mt-5">
            <a class="btn btn-outline-success" th:href="@{/updateAppointmentForm(appointment_id=*{appointment.appointmentId})}" id="btn_update" type="submit"><b>Update</b></a>
        </td>
        <td class="col-1 mt-5">
            <a class="btn btn-outline-success" th:href="@{/deleteAppointment(appointment_id=*{appointment.appointmentId})}" id="btn_delete" type="submit"><b>Delete</b></a>
        </td>
   </tr>
</table>



<!-- footer starts here -->
<div th:insert="~{common/footer :: footer}"></div>


<script>

    // Below code sets format to the
    // datetimepicker having id as
    // datetime
    $('#datetime').datetimepicker({
        format: 'DD-MM-YYYY HH:mm:ss'
    });
</script>

</body>
</html>