<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MEDICAL - Responsive HTML &amp; Bootstrap Template</title>
    <link href="assets/css/registerForm.css" rel="stylesheet">
    <![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



</head>
<body class="d-flex flex-column min-vh-100">





<form th:object="${patient}" th:action="@{/save}"  method="post">
    <!-- class named "container" is assigned to div -->
    <div class="container">
        <h1>Register Form</h1>
        <p>Kindly fill in this form to register.</p>
        <label for="firstName"><b>First Name</b></label>
        <input
                type="text"
                placeholder="Enter First Name"
                name="username"
                id="firstName"
                th:field="*{firstName}"
                required
        />

        <label for="LastName"><b>Last Name</b></label>
        <input
                type="text"
                placeholder="Enter Last Name"
                name="LastName"
                id="LastName"
                th:field="*{lastName}"
                required
        />


        <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        https://www.w3schools.com/tags/att_input_pattern.asp -->
        <label for="email"><b>Email</b></label>
        <input  class="form-control"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                type="email"
                placeholder="name@example.com"
                name="email"
                id="email"
                th:field="${credential.email}"
                required
        />

        <label for="phone"><b>Phone</b></label>
        <input
                type="text"
                placeholder="Enter Phone"
                name="phone"
                id="phone"
                th:field="*{phone}"
                required
        />

<!--        <label for="inputRole"><b>Role</b></label>-->
<!--        <select id="inputRole" th:field="*{role}" >-->
<!--            &lt;!&ndash;<option value=""><b>Nothing selected</b></option>&ndash;&gt;-->
<!--            <option th:each="role : ${T(com.stefanpetkov.medical.domain.Role).values()}"-->
<!--            th:value="${role}"-->
<!--            th:text="${role}">role </option>-->
<!--        </select>-->


        <label for="comment"><b>Comment</b></label>
        <textarea class="form-control" id="comment" th:field="*{comment}" rows="3"></textarea>


        <label for="pwd"><b>Password</b></label>
        <input
                type="text"
                placeholder="Enter Password"
                name="pwd"
                id="pwd"
                th:field="${credential.password}"
                required
        />



        <button type="submit">Save</button>
    </div>

    <div>
        <p>Already have an account? <a href="/login">Log in</a>.</p>
    </div>
</form>
<script type="text/javascript">
    const pwd = Math.random().toString();
    document.getElementById("pwd").innerText = pwd;
</script>



</body>
</html>