
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MEDICAL - Responsive HTML &amp; Bootstrap Template</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">



</head>
<body class="d-flex flex-column min-vh-100">

<div th:insert="~{common/header :: header}"></div>

<h3 class="w-25">  &nbsp;&nbsp; Здравейте д-р : Ivanov</h3>

<table class="table table-striped">
    <tr class="table-dark">
        <th>AppointmentID</th>
        <th>PatientID</th>
        <th>Patient Name</th>
        <th>Appointment</th>
        <th>Phone</th>
        <th>Comment</th>

    </tr>
    <tr class="border border-3 border-dark" th:each="patient : ${appointments}">
        <td th:text="${patient.getAppointmentId()}">ID</td>
        <td th:text="${patient.getPatient().id}">ID</td>
        <td th:text="${patient.getPatient().firstName}  + ' ' + ${patient.getPatient().lastName}"> FullName</td>
        <td th:text="${patient.getDateTimeOfTheAppointment()}">ID</td>
        <td th:text="${patient.getPatient().phone}">phone</td>
        <td th:text="${patient.getPatient().comment}">comment</td>
<!--&lt;!&ndash;        <td th:text="${appointments}">appointment</td>&ndash;&gt;-->
<!--        <tr class="border border-3 border-dark" th:each="appointment : ${appointments}">-->
<!--        <th>Appointment : </th>-->
<!--        <td  th:text="${appointment.dateTimeOfTheAppointment}">appointment</td>-->
<!--        </tr>-->



<!--        <td th:text="${patient.getAppointments().toArray()[0]}">comment</td>-->
    </tr>
</table>

<!-- footer starts here -->


<div th:insert="~{common/footer :: footer}"></div>

<!--<script>-->

<!--    function getAllComments(){-->
<!--        $.ajax({-->
<!--            url: "/comment/all",-->
<!--            method: "GET",-->
<!--            success: function(data){-->
<!--                data.forEach(function(comm){-->
<!--                    addCommentToUI(comm.description, comm.city, comm.temp, comm.icon, comm.id);-->
<!--                });-->
<!--            }-->
<!--        });-->

<!--    }-->
<!--</script>-->


</body>
</html>